.vertical-nav{
  min-width: 17rem;
  width: 17rem;
  height: 100vh;
  position: fixed;
  top: 60px;
  left: 0;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.1) ;
  transition: all 0.4s;
  font-family: 'Pridi', serif;
 
}

.vertical-menu a {
display: block;
padding: 15px;
text-decoration: none;
}

.vertical-menu a:hover {
background-color: #DDEEFF;
}

.page-content {
  width: calc(100% - 17rem);
  margin-left: 17rem;
  transition: all 0.4s;
}
#sidebar.active {
  margin-left: -17rem;
}
@media (max-width: 768px) {
  #sidebar {
    margin-left: -17rem;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #content {
    width: 100%;
    margin: 0;
  }
  #content.active {
    margin-left: 17rem;
    width: calc(100% - 17rem);
  }
}
.hr{
  border-top: 1px solid #8c8b8b;
}
.bgnavbar {
  background: #2E5E96;
  /* border-radius:0px 0px 27px 27px; */
 
}
li a{
  color: black;
}
a.active {
  background-color: #DDEEFF;
  color: #134472;
}

th{
background-color: #9CE7D9;
text-align: center;
}
table{
font-family: 'Pridi', serif;
}
tr,td {
text-align: center;
padding: 15px;
border-bottom: 2px solid #ddd;
}
ิbody{
background-color: #F8F8F8, 100%;
min-height: 100vh;
overflow-x: hidden;
font-family: 'Pridi', serif;
margin: 0;
}

@media only screen and (min-width: 768px) {
/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
}
