body {
    font-family: 'Prompt', sans-serif;
    margin: 0;
    background-color: #fbfefb;
}

nav {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.479);
}

.vertical-nav {
    min-width: 17rem;
    width: 17rem;
    height: 100%;
    position: fixed;
    top: 60px;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    background: linear-gradient(180deg, #0B2646, #77A5BB);
    transition: all 0.4s;
    margin-top: 11px;
}

.vertical-menu a {
    display: block;
    padding: 15px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #DDEEFF;
}

.page-content {
    width: calc(100% - 17rem);
    margin-left: 17rem;
    transition: all 0.4s;
}

#sidebar.active {
    margin-left: 0rem;
}

@media (max-width: 992px) {
    #sidebar {
        margin-left: -17rem;
        z-index: 1;
    }
    .brand-text {
        display: none;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
        margin: 0;
    }
    .navbar-toggler {
        display: inherit;
    }
}

@media (min-width: 992px) {
    #text-brand {
        display: none;
    }
}

.hr {
    border-top: 1px solid #8c8b8b;
}

.bgnavbar {
    background: linear-gradient(90deg, #0B2646, #2C7CDD);
    /* border-radius:0px 0px 27px 27px; */
}

li a {
    color: white;
}

a.active {
    background-color: #DDEEFF;
    color: #000000;
}

th {
    color: white;
    background-color: #1282a2;
    text-align: center;
    /* border-radius:0px 0px 27px 27px; */
}

.table td, .table th {
    border-top: none;
}

.table-bordered td, .table-bordered th {
    border: none;
}

.table thead th {
    border-bottom: none;
}

table.table-bordered.dataTable th, table.table-bordered.dataTable td {
    border: none;
}

tr, td {
    text-align: center;
    padding: 15px;
    /* border-bottom: 2px solid #ddd; */
}

#materialTable {
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.281);
}

#detail {
    border-radius: 25px;
    background: #F3FFFE;
    padding: 20px;
    font-size: 20px;
}

#btnback {
    cursor: pointer;
}