body {
    background-color: #F8F8F8;
    font-family: 'Pridi', serif;
    margin: 0;
}
header{
    padding: 0.5em;
    color: white;
    background-color: #2E5E96;  

}

.left {
        position: fixed;      
        padding-top: 40px;
        padding-bottom: 0;
        height: 100%;
        width: 220px;
        background-color: white;
  }

  ul {
    padding: 0;
    width: 220px;
  }
  
  li a {
    display: block;
    color: #7E7E7E;
    padding: 8px 16px;
    padding-top: 15px;
    font-size: 18px;
  }
  
  li a.active {
    background-color: #DDEEFF;
    color: #134472;
  }
  
  li a:hover:not(.active) {
    background-color: #ddfff2;
    color: rgb(0, 0, 0);
  }

  .col{
      padding-top: 40px;
      padding-left: 280px;
      font-size: 25px;
  }
  
  hr.style19{  
  width: 400px;
  border-top: 2px solid #B9B9B9;
}

.positiontable{
    padding-top: 40px;
    padding-left: 280px;
    padding-right: 60px;
}
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #ffffff}

th {
  background-color: #9CE7D9;
  color: rgb(61, 61, 61);
}
  