.vertical-nav{
    min-width: 17rem;
    width: 17rem;
    height: 100vh;
    position: fixed;
    top: 60px;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.1) ;
    transition: all 0.4s;
    font-family: 'Pridi', serif;
   
}

.vertical-menu a {
  display: block;
  padding: 15px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #DDEEFF;
}

.page-content {
    width: calc(100% - 17rem);
    margin-left: 17rem;
    transition: all 0.4s;
  }
  #sidebar.active {
    margin-left: -17rem;
  }
  @media (max-width: 768px) {
    #sidebar {
      margin-left: -17rem;
    }
    #sidebar.active {
      margin-left: 0;
    }
    #content {
      width: 100%;
      margin: 0;
    }
    #content.active {
      margin-left: 17rem;
      width: calc(100% - 17rem);
    }
  }
  @media(max-width:600px){
    #content{
      margin-top: 4.5rem;
    }
    .vertical-menu{
      margin-top: 2.5rem;
    }
    #navHead{
      font-size: 16px;
    }
  }
  .hr{
    border-top: 1px solid #8c8b8b;
  }
  .bgnavbar {
    background: #2E5E96;
    /* border-radius:0px 0px 27px 27px; */
   
}

th{
  background-color: #9CE7D9;
  text-align: center;
}
table{
  font-family: 'Pridi', serif;
}
tr,td {
  text-align: center;
  padding: 15px;
  border-bottom: 2px solid #ddd;
}
ิbody{
  background-color: #F8F8F8, 100%;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: 'Pridi', serif;
  margin: 0;
  
}
#iconadd{
  font-size: 27px;
  color: green;
}
#category{
  border: none;
  font-family: 'Pridi', serif;
  
}
#btnAdd{
  padding: 2px;
  
}
#modelEdit{
  font-family: 'Pridi', serif;
 
}