body {
  font-family: 'Pridi', serif;
  margin: 0;
}

.vertical-nav {
  min-width: 17rem;
  width: 17rem;
  height: 100vh;
  position: fixed;
  top: 60px;
  left: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
  font-family: 'Pridi', serif;
}

.vertical-menu a {
  display: block;
  padding: 15px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #DDEEFF;
}

#btnback {
  cursor: pointer;
}

.page-content {
  width: calc(100% - 17rem);
  margin-left: 17rem;
  transition: all 0.4s;
}

#sidebar.active {
  margin-left: 0rem;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -17rem;
    z-index: 1;
  }
  .brand-text {
    display: none;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #content {
    width: 100%;
    margin: 0;
  }
}

@media (min-width: 768px) {
  #text-brand {
    display: none;
  }
}

li a {
  color: black;
}

a.active {
  background-color: #DDEEFF;
  color: #134472;
}

.hr {
  border-top: 1px solid #8c8b8b;
}

.bgnavbar {
  background: #2E5E96;
  /* border-radius:0px 0px 27px 27px; */
}

th {
  background-color: #9CE7D9;
  text-align: center;
}

table {
  font-family: 'Pridi', serif;
}

tr, td {
  text-align: center;
  padding: 15px;
  border-bottom: 2px solid #ddd;
}

body {
  background-color: #F8F8F8, 100%;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: 'Pridi', serif;
  margin: 0;
}

#detail {
  border-radius: 25px;
  background: #F3FFFE;
  padding: 20px;
  width: 1520px;
  height: 200px;
  font-size: 20px;
}

.position {
  padding-bottom: 20px;
}

.status {
  padding-left: 600px;
}

.all {
  padding-left: 1200px;
  padding-top: 20px;
}