<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link rel="icon" href="https://itschool.mfu.ac.th/fileadmin/templatesItschool/assets/img/it-logo120x120.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Pridi&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/10.15.7/sweetalert2.all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
    <script src="https://apis.google.com/js/platform.js?onload=init" async defer></script>

    <link rel="stylesheet" href="style/Cart.css">
    <script src="src/Cart.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@200&display=swap" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bgnavbar fixed-top">
        <a class="navbar-brand" href="#"><img src="img/logo.png" width="40px" height="40px"></span>
        </a>
        <h5 class="text-light my-auto brand-text" href="#">ระบบจัดการวัสดุสำนักงาน สำนักวิชาเทคโนโลยีสารสนเทศ</h5>
        <text class="my-auto ml-auto text-light brand-text"><img class="rounded-circle shadow-sm"
                src="<%= user.image %> " alt="" width="35px">
            <!-- <span class="iconify text-light"
                data-icon="bx:bxs-user-circle" data-inline="false" style="color:black" data-width="30px"
                data-height="30px"></span> -->
            <%= user.user_name %>
        </text>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
            aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation" id="sidebarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>

    <!--SIDE bAR-->
    <div class="vertical-nav mt-1" id="sidebar">
        <div class="vertical-menu">
            <ul class="nav flex-column mt-4">
                <div id="text-brand" class="mb-5">
                    <li class="text-center">
                        <h5 class="text-light" href="#">ระบบจัดการวัสดุสำนักงาน สำนักวิชาเทคโนโลยีสารสนเทศ</h5>
                    </li>
                    <li class="text-center">
                        <text class="text-light"><img class="rounded-circle shadow-sm" src="<%= user.image %> " alt=""
                                width="35px">
                            <!-- <span class="iconify" data-icon="bx:bxs-user-circle" data-inline="false"
                                style="color:black" data-width="30px" data-height="30px"></span> -->
                            <%= user.user_name %>
                        </text>
                    </li>
                </div>
                <li><a href="#" id="mymat" class="active"><span class="iconify"
                            data-icon="fa-solid:clipboard-list"></span> รายการวัสดุ</a></li>
                <li><a href="#" id="myrequi"><span class="iconify" data-icon="octicon:history-16"
                            data-inline="false"></span> การเบิกของฉัน <span class="badge badge-success"
                            style="font-size: 14px;" id="countnoti"><span></span></span></a></li>
                <li><a href="#" onclick="signout()"><span class="iconify" data-icon="ls:logout" data-inline="false"></span>
                        ออกจากระบบ</a></li>
            </ul>
        </div>

    </div>

    <div class="page-content p-5 mt-5" id="content">
        <div class="container-fluid">
            <div class="justify-content-center">
                <div class="col-12">
                    <div class="p-2">
                        <h4><span class="iconify" data-icon="fa-solid:clipboard-list"></span> รายการวัสดุ</h4>
                        <hr class="ml-0 col-6" style="background-color: rgba(151, 151, 151, 0.507);">
                    </div>
                    <div class='overflow-auto col-12' style='height: 500px;' id='listItem-area'>
                        <!-- <div
                            class='d-lg-flex justify-content-between align-items-center bg-white rounded cart shadow col-12 col-lg-10 mx-auto p-1'>
                            <div class='mr-1 float-left float-lg-none mt-5 mt-sm-4 pt-lg-0 pt-5'><input type='checkbox'
                                    id='' style='height: 25px; width: 25px;'></div>
                            <div class='mx-2 my-5 my-sm-4 my-md-3 text-center text-lg-none'>รหัสวัสดุ : 101000001</div>
                            <div class='mx-2 my-5 my-sm-4 my-md-3 text-center text-lg-none'>ชื่อรายการ : กรรไกรตัดกระดาษ
                                6</div>
                            <div class='mx-auto my-3 col-5 m-lg-none'><input type='number' class='form-control'
                                    id='' placeholder='จำนวนเบิก'></div>
                            <div class='align-items-center text-center'><i class='fa fa-trash mb-1 text-danger'
                                    style='font-size: 25px;'></i></div>

                        </div> -->
                    </div>

                    <hr class="m-0 mt-1 mb-5 col-12" style="background-color: rgba(151, 151, 151, 0.507);">
                    <div id="objective">
                        <p>หมายเหตุ :</p>
                        <div><textarea class="col-12 form-control my-2 col-12 col-lg-5" rows="5"
                                id="txtanno"></textarea></div>
                        <div class="col-12 text-lg-right text-center">
                            <button class="btn" id="btn-requis" data-toggle="modal"
                                data-target="#modelResult">ขอเบิก</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- CART -->



    <!-- Modal -->
    <div class="modal fade " id="modelResult" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
        aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><span class="iconify" data-icon="fa-solid:clipboard-list"></span>
                        สรุปยอดทั้งหมด</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class='text-right mr-3'>จำนวน</p>
                    <div class="mb-4" id="result-area" style="overflow: auto; height: 300px;">
                        <!-- <div class='container-fluid'>
                            <div class='row'>
                                <p class='col-8'>รายการวัสดุ : 1010001 </p>
                                <text class='ml-auto mr-3' >100</text>
                                <p class='col-12'>ชื่อรายการ : กรรไกรตัดกระดาษ 6 </p>

                                <hr size='2' class='ml-0 col-6'>
                            </div>
                        </div> -->

                    </div>

                    <p id="anno"></p>

                    <select id='Objective' class="form-control col-5">
                        <option value="เลือกวัตถุประสงค์">เลือกวัตถุประสงค์</option>
                        <option value="การเรียนการสอน">การเรียนการสอน</option>
                        <option value="สำนักงาน">สำนักงาน</option>
                    </select>

                    <p></p>
                    <p>อื่นๆ :</p>
                    <textarea cols='50' rows='5' id="txtob" class="form-control"></textarea>

                    <div class="text-center mt-3">
                        <button class="btn btn-success" style="font-size: 18px;" id="btn-confirm">ยืนยัน</button>
                        <button class="btn btn-warning" style="font-size: 18px;" data-dismiss="modal">ยกเลิก</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>

</html>