<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail Success</title>
    <link rel="icon" href="https://itschool.mfu.ac.th/fileadmin/templatesItschool/assets/img/it-logo120x120.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.6/css/responsive.bootstrap4.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Pridi&display=swap" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.6/js/dataTables.responsive.min.js"></script>
    <script src="src/detailsuccess.js"></script>
    <link rel="stylesheet" href="style/detailsuccess.css">
    <script src="https://apis.google.com/js/platform.js?onload=init" async defer></script>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@200&display=swap" rel="stylesheet">
</head>

<body>
    <!--Topbar-->
    <nav class="navbar navbar-expand-md navbar-dark bgnavbar fixed-top">
        <a class="navbar-brand" href="#"><img src="img/logo.png" width="40px" height="40px">
        </a>
        <h5 class="text-light my-auto brand-text" href="#">ระบบจัดการวัสดุสำนักงาน สำนักวิชาเทคโนโลยีสารสนเทศ</h5>
        <text class="my-auto ml-auto text-light brand-text"><img class="rounded-circle shadow-sm"
                src="<%= user.image %> " alt="" width="35px">
            <!-- <span class="iconify text-light"
                data-icon="bx:bxs-user-circle" data-inline="false" style="color:black" data-width="30px"
                data-height="30px"></span> -->
            <%= user.user_name %>
        </text>
        <button class="navbar-toggler d-xl-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
            aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation" id="sidebarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

    </nav>

    <div class="vertical-nav mt-1" id="sidebar">
        <div class="vertical-menu">
            <ul class="nav flex-column mt-4">
                <div id="text-brand">
                    <li class="text-center">
                        <h5 class="text-light" href="#">ระบบจัดการวัสดุสำนักงาน สำนักวิชาเทคโนโลยีสารสนเทศ</h5>
                    </li>
                    <li class="text-center text-light">
                        <text><img class="rounded-circle shadow-sm" src="<%= user.image %> " alt="" width="35px">
                            <!-- <span class="iconify" data-icon="bx:bxs-user-circle" data-inline="false"
                                style="color:black" data-width="30px" data-height="30px"></span> -->
                            <%= user.user_name %>
                        </text>
                    </li>
                </div>
                <li><a href="/requisition" class="active"><span class="iconify"
                            data-icon="fluent:task-list-rtl-20-filled" data-inline="false" data-width="20px"></span>
                        คำขอเบิกวัสดุ<span class="ml-3 badge badge-danger" style="font-size: 15px;"><span
                                id="badge_req"></span></span></a></li>
                <li><a href="/materialadmin"><span class="iconify" data-icon="fa-solid:clipboard-list"
                            data-inline="false"></span> รายการวัสดุ</a></li>
                <li><a href="/historyadmin"><span class="iconify" data-icon="octicon:history-16" data-inline="false"
                            data-width="16px"></span> ประวัติการเบิก</a></li>
                <li><a href="/staticadmin"><span class="iconify" data-icon="whh:statistics" data-inline="false"></span>
                        สถิติการเบิก</a></li>
                <li><a onclick="signout()" style="cursor: pointer;" class="text-light"><span class="iconify"
                            data-icon="ls:logout" data-inline="false"></span> ออกจากระบบ</a></li>
            </ul>
        </div>

    </div>

    <!--Main-->

    <div class="page-content p-5 mt-5" id="content">
        <div class="container-fluid">
            <div class="row">
                <div class="float-left">
                    <a id="btnback">
                        <span class="iconify" data-icon="eva:arrow-back-outline" data-inline="false" data-width="50px"
                            data-height="50px"></span>
                    </a>
                    <form id='formid' action="upload" method="POST" enctype="multipart/form-data">
                    </form>
                </div>
                <div class="col-11">
                    <h2>รายละเอียดเพิ่มเติม</h2>
                    <hr class="ml-0 col-6" style="background-color: rgba(151, 151, 151, 0.507);">
                </div>
            </div>
            <!--Detail text-->
            <div id="detail" class="row" >
                <!-- <div class="mr-auto col-7">
                    <p>เลขที่ใบเบิก : 6405001</p>
                    <p>หมายเหตุ : ต้องการวัสดุทุกอย่างที่เบิกด่วนที่สุด</p>
                    <p>ชื่อผู้เบิก : นายบันเทิง สุดสุด</p>
                    <p>วันที่ : 17/05/2564 เวลา : 15:30 น</p>
                </div>
                <div class="all ml-5 col-2 text-right ml-auto mr-3">
                    <span class="iconify" data-icon="carbon:collapse-all" data-inline="false" style="color: #7BB18B;"
                        data-width="70px" data-height="70px"></span>
                    <p>ทั้งหมด<span class="iconify" data-icon="mdi:numeric-5-circle" data-inline="false"
                            style="color: #C4C4C4;" data-width="30px" data-height="30px"></span></p>
                </div> -->
            </div>
            <br>
            <table id="materialTable" class="table table-bordered table-hover" style="width:100%">
            </table>
            <br>
            <!--Botton-->
            <div class="float-right">
                <button class="btn btn-success" id="success">เสร็จสมบูรณ์</button>
            </div>
        </div>
    </div>


</body>

</html>