<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail Requisition</title>
    <link rel="icon" href="https://itschool.mfu.ac.th/fileadmin/templatesItschool/assets/img/it-logo120x120.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.6/css/responsive.bootstrap4.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Pridi&display=swap" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.6/js/dataTables.responsive.min.js"></script>
    <script src="src/detailreq.js"></script>
    <link rel="stylesheet" href="style/detailreq.css">
    <script src="https://apis.google.com/js/platform.js?onload=init" async defer></script>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@200&display=swap" rel="stylesheet">
</head>


<body>
    <!--Topbar-->
    <nav class="navbar navbar-expand-md navbar-dark bgnavbar fixed-top">
        <a class="navbar-brand" href="#"><img src="img/logo.png" width="40px" height="40px">
        </a>
        <h5 class="text-light my-auto brand-text" href="#">ระบบจัดการวัสดุสำนักงาน สำนักวิชาเทคโนโลยีสารสนเทศ</h5>
        <text class="my-auto ml-auto text-light brand-text"><img class="rounded-circle shadow-sm"
                src="<%= user.image %> " alt="" width="35px">
            <!-- <span class="iconify text-light" data-icon="bx:bxs-user-circle" data-inline="false" style="color:black"
                data-width="30px" data-height="30px"></span> -->
            <%= user.user_name %>
        </text>
        <button class="navbar-toggler d-xl-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
            aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation" id="sidebarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

    </nav>


    <div class="vertical-nav mt-1" id="sidebar">
        <div class="vertical-menu">
            <ul class="nav flex-column mt-4">
                <div id="text-brand">
                    <li class="text-center">
                        <h5 class="text-light" href="#">ระบบจัดการวัสดุสำนักงาน สำนักวิชาเทคโนโลยีสารสนเทศ</h5>
                    </li>
                    <li class="text-center text-light">
                        <text><img class="rounded-circle shadow-sm" src="<%= user.image %> " alt="" width="35px">
                            <!-- <span class="iconify" data-icon="bx:bxs-user-circle" data-inline="false"
                                style="color:black" data-width="30px" data-height="30px"></span> -->
                            <%= user.user_name %>
                        </text>
                    </li>
                </div>
                <li><a href="/requisition" class="active"><span class="iconify" data-icon="fluent:task-list-rtl-20-filled"
                            data-inline="false" data-width="20px"></span> คำขอเบิกวัสดุ<span
                            class="ml-3 badge badge-danger" style="font-size: 15px;"><span
                                id="badge_req"></span></span></a></li>
                <li><a href="/materialadmin"><span class="iconify" data-icon="fa-solid:clipboard-list"
                            data-inline="false"></span> รายการวัสดุ</a></li>
                <li><a href="/historyadmin"><span class="iconify" data-icon="octicon:history-16" data-inline="false"
                            data-width="16px"></span> ประวัติการเบิก</a></li>
                <li><a href="/staticadmin"><span class="iconify" data-icon="whh:statistics" data-inline="false"></span>
                        สถิติการเบิก</a></li>
                <li><a onclick="signout()" style="cursor: pointer;" class="text-light"><span class="iconify"
                            data-icon="ls:logout" data-inline="false"></span> ออกจากระบบ</a></li>

            </ul>
        </div>

    </div>

    <!--Main-->

    <div class="page-content p-5 mt-5" id="content">
        <div class="container-fluid">
            <div class="row">
                <div class="float-left">
                    <a id="btnback">
                        <span class="iconify" data-icon="eva:arrow-back-outline" data-inline="false" data-width="50px"
                            data-height="50px"></span>
                    </a>
                    <form id='formid' action="upload" method="POST" enctype="multipart/form-data">
                    </form>
                </div>
                <div class="col-11">
                    <h2>รายละเอียดเพิ่มเติม</h2>
                    <hr class="ml-0 col-6" style="background-color: rgba(151, 151, 151, 0.507);">
                </div>
            </div>
            <!--Detail text-->
            <div class="row " id="detail" style="background-color: #FFEDC2;">
                <!-- <div class='col-6'>
                    <p>เลขที่เบิกวัสดุ : 6405001</p>
                    <p>ชื่อผู้เบิก : นายบันเทิง สุดสุด</p>
                    <p>วันที่ : 17/05/2564 เวลา : 15:30 น</p>
                    <p>หมายเหตุ : ต้องการของทุกอย่างที่เบิกด่วนที่สุด</p>
                </div>
                <div class='col-6 text-center'>
                    <span class='iconify' data-icon='carbon:collapse-all' data-inline='false' style='color: #ffb01d;'
                        data-width='100px' data-height='100px'></span>
                    <br> <text>ทั้งหมด<span class='iconify' data-icon='mdi:numeric-7-box' data-inline='false'
                            data-width='30px' data-height='30px'></span></text>
                </div> -->
            </div>
            <br>
            <div class="float-right">
                <button class="btn btn-warning" id="modify" data-toggle="modal"
                    data-target="#modifymodal">แก้ไขจำนวนจ่าย</button>
            </div>
            <br>
            <br>
            <table id="materialTable" class="table table-bordered text-center table-hover" style="width:100%">
            </table>
            <br>
            <!--Botton-->
            <div class="float-right">
                <button class="btn btn-success" id="approve">อนุมัติ</button>
                <button class="btn btn-danger" id="disapprove" data-toggle="modal"
                    data-target="#disapprovemodal">ไม่อนุมัติ</button>
            </div>
        </div>
    </div>

    <!-- Modal modify -->
    <div class="modal fade" id="modifymodal" tabindex="-1" role="dialog" aria-labelledby="modifyModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">แก้ไขจำนวนจ่าย</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="editnumber" >
                    <!-- <p>ซองจดหมายขาว ขนาด DL <input type="number" class="form-control float-right mb-3" placeholder="คงเหลือ "></input></p>
                    <p>ปากกาไวท์บอร์ด สีแดง <input type="number" class="form-control float-right mb-3"></input></p>
                    <p>ลวดเสียบกระดาษ (Paper Clip) <input type="number" class="form-control float-right mb-3"></input></p>
                    <p>ไม้บรรทัดเหล็ก 1 ฟุต <input type="number" class="form-control float-right mb-3"></input></p>
                    <p>ตรายาง - วันที่ตัวเลข <input type="number" class="form-control float-right mb-3"></input></p> -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="modifysave">ยืนยัน</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">ยกเลิก</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal disapprove -->
    <div class="modal fade" id="disapprovemodal" tabindex="-1" role="dialog" aria-labelledby="disapproveModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">สาเหตุ :</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <textarea name="reason" id="txtdis-area" cols="50" rows="20"
                        placeholder="เหตุผลที่ไม่อนุมัติ"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="disapproveysave">ยืนยัน</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">ยกเลิก</button>
                </div>
            </div>
        </div>
    </div>


</body>

</html>