<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>รายการวัสดุ</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.6/css/responsive.bootstrap4.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Pridi&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.6/js/dataTables.responsive.min.js"></script>
    <script src="https://apis.google.com/js/platform.js?onload=init" async defer></script>

    <script src="src/Index.js"></script>
    <link rel="stylesheet" href="style/Index.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@200&display=swap" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bgnavbar fixed-top">
        <a class="navbar-brand" href="#"><img src="img/logo.png" width="40px" height="40px"></span>
        </a>
        <h5 class="text-light my-auto brand-text" href="#">ระบบจัดการวัสดุสำนักงาน สำนักวิชาเทคโนโลยีสารสนเทศ</h5>
        <text class="my-auto ml-auto text-light brand-text">
            <span><img class="rounded-circle shadow-sm" src="<%= user.image %> " alt="" width="35px"></span>
            <!-- <span id="iconpro" class="iconify text-light" data-icon="bx:bxs-user-circle" data-inline="false" style="color:black"
                data-width="30px" data-height="30px"></span> -->
            <%= user.user_name %>
        </text>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
            aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation" id="sidebarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>

    <!--SIDE bAR-->
    <div class="vertical-nav bg-white mt-1" id="sidebar">
        <div class="vertical-menu">
            <ul class="nav flex-column mt-4">
                <div id="text-brand" class="mb-5">
                    <li class="text-center">
                        <h5 class="text-light" href="#">ระบบจัดการวัสดุสำนักงาน สำนักวิชาเทคโนโลยีสารสนเทศ</h5>
                    </li>
                    <li class="text-center">
                        <text class="text-light">
                            <span><img class="rounded-circle shadow-sm" src="<%= user.image %> " alt=""
                                    width="35px"></span>
                            <!-- <span class="iconify" data-icon="bx:bxs-user-circle" data-inline="false"
                                style="color:black" data-width="30px" data-height="30px"></span> -->
                            <%= user.user_name %>
                        </text>
                    </li>
                </div>
                <li><a href="#" id="mymat" class="active"><span class="iconify"
                            data-icon="fa-solid:clipboard-list"></span> รายการวัสดุ</a></li>
                <li><a href="#" id="myRequi"><span class="iconify" data-icon="octicon:history-16"
                            data-inline="false"></span> การเบิกของฉัน <span class="badge badge-success"
                            style="font-size: 14px;" id="countnoti"><span></span></span></a></li>
                <li><a href="#" id="logout"><span class="iconify" data-icon="ls:logout" data-inline="false"></span>
                        ออกจากระบบ</a></li>
            </ul>
        </div>

    </div>

    <div class="page-content p-5 mt-5" id="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    <h2><span class="iconify" data-icon="fa-solid:clipboard-list"></span> รายการวัสดุ</h2>
                    <hr class="ml-0 col-12" style="background-color: rgba(151, 151, 151, 0.507);">
                    <select class="mb-2 form-control col-lg-4 col-md-6 col-sm-8 col-10" id="selectCategory">
                    </select>
                </div>
                <div class="col-6 text-right">
                    <a href="#" id="cart" class="notification"><span class="iconify" data-icon="bi:basket2"
                            style="font-size: 30px; color: black;"></span>
                        <span class="badge" style="font-size: 14px;"><span
                                id="countAdd">0</span></span></a>
                </div>
            </div>
            <!--Datatable-->
            <table id="materialMenu" class="table table-bordered table-hover" style="width:100%"></table>
        </div>
    </div>

</body>

</html>