<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>material</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.6/css/responsive.bootstrap4.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Pridi&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style/material.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.6/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="src/material.js"></script>
    <script src="https://apis.google.com/js/platform.js?onload=init" async defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.2/xlsx.full.min.js"></script>


</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bgnavbar fixed-top">
        <a class="navbar-brand" href="#"><img src="img/logo.png" width="40px" height="40px">
        </a>
        <h5 class="text-light my-auto brand-text" href="#">ระบบจัดการวัสดุสำนักงาน สำนักวิชาเทคโนโลยีสารสนเทศ</h5>
        <text class="my-auto ml-auto text-light brand-text"><span class="iconify text-light"
                data-icon="bx:bxs-user-circle" data-inline="false" style="color:black" data-width="30px"
                data-height="30px"></span>
            <%= user.user_name %>
        </text>
        <button class="navbar-toggler d-xl-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
            aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation" id="sidebarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

    </nav>
    <div class="vertical-nav bg-white mt-2" id="sidebar">
        <div class="vertical-menu">
            <ul class="nav flex-column bg-white mt-4">
                <div id="text-brand">
                    <li class="text-center">
                        <h5 class="text-dark" href="#">ระบบจัดการวัสดุสำนักงาน สำนักวิชาเทคโนโลยีสารสนเทศ</h5>
                    </li>
                    <li class="text-center">
                        <text><span class="iconify" data-icon="bx:bxs-user-circle" data-inline="false"
                                style="color:black" data-width="30px" data-height="30px"></span>
                            <%= user.user_name %>
                        </text>
                    </li>
                </div>
                <li><a href="/requisition">คำขอเบิกวัสดุ<span class="ml-3 badge badge-danger"
                            style="font-size: 15px;"><span id="badge_req"></span></span></a></li>
                <li><a href="#" class="active">รายการวัสดุ</a></li>
                <li><a href="/historyadmin">ประวัติการเบิก</a></li>
                <li><a href="/staticadmin">สถิติการเบิก</a></li>
                <li><a onclick="signout()" style="cursor: pointer;">ออกจากระบบ <span class="iconify"
                            data-icon="ls:logout" data-inline="false"></span> </a></li>
            </ul>
        </div>
    </div>
    <!--Main-->
    <div class="page-content p-5 " id="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 mt-5 d-sm-flex d-unset">
                    <div class="text-left col-lg-6 col-md-4 ">
                        <h3 style=" font-family: 'Pridi', serif;"><span class="iconify"
                                data-icon="fa-solid:clipboard-list" data-inline="false"></span> รายการวัสดุ</h3>
                    </div>
                    <div class="text-right col-lg-6 col-md-8 ">
                        <button type="button" class="btn btn-ouline-light mb-3" style="size: 45px;" data-toggle="modal"
                            data-target="#modeladd">
                            <span class="iconify" data-icon="eva:file-add-outline" data-inline="false"
                                id="iconadd"></span>
                            <p style=" font-family: 'Pridi', serif;">เพิ่มวัสดุ</p>
                        </button>
                        <label class="custom-file-upload text-center">
                            <span class="iconify" data-icon="fluent:folder-add-24-regular" data-inline="false"
                                id="btnimport"></span>
                            <input type="file" id="input" />
                            <p style=" font-family: 'Pridi', serif;">นำเข้าข้อมูล</p>
                        </label>
                        <!-- <label class="custom-file-upload iconify" data-icon="fluent:folder-add-24-regular" data-inline="false">
                            <input type="file" id="btnimport" accept=".xls,.xlsx" />
                            <p style=" font-family: 'Pridi', serif;">นำเข้าข้อมูล</p>
                        </label> -->
                        <!-- <button  type="button" class="btn btn-ouline-light ml-4" style="size: 45px;">
                            <span class="iconify" data-icon="fluent:folder-add-24-regular" data-inline="false"
                                id="iconimport"></span>
                            <input class="form-control" type="file" id="input" accept=".xls,.xlsx">
                            <p style=" font-family: 'Pridi', serif;">นำเข้าข้อมูล</p>
                        </button> -->
                    </div>

                </div>
                <hr size="2" class="ml-0 col-md-12 col-xl-10 col-l-10 col-sm-12">
            </div>
            <select name="category" id="category">
                <!-- <option value="1">วัสดุสำนักงาน</option>
                <option value="2">วัสดุไฟฟ้าวิทยุ</option>
                <option value="3">วัสดุคอมพิวเตอร์</option>
                <option value="4">วัสดุโฆษณา</option>
                <option value="5">วัสดุงานบ้าน</option>
                <option value="6">วัสดุเครื่องแต่งกาย</option>
                <option value="7">วัสดุของที่ระทึก</option>
                <option value="8">ทั้งหมด</option> -->
            </select> <br><br>

            <table id="materialTable" class="table table-striped table-bordered text-center" style="width:100%">

            </table>

        </div>
    </div>
    <!--Modal Edit-->

    <!-- Modal -->
    <div class="modal fade " id="modelEdit" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content ">
                <div class="modal-header" style="background-color: #CFEEFF;">
                    <h5 class="modal-title w-100 text-center">
                        แก้ไข
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 ">
                            <form id="formeditmat" enctype="multipart/form-data">
                                <label for="textinput" class="col-12 control-label">รหัสวัสดุ</label>
                                <div class="col-12">
                                    <input type="text" class="form-control" id="EditID" disabled>
                                </div>
                                <label for="textinput" class="col-12 control-label">รายการ</label>
                                <div class="col-12">
                                    <input type="text" class="form-control" id="EditName" required>
                                </div>
                                <label for="textinput" class="col-12 control-label">แก้ไขจำนวน</label>
                                <div class="col-12">
                                    <input type="number" class="form-control" id="EditNum" required>
                                </div>
                                <div class="col-12 d-flex text-center my-4">
                                    <div class="col-6">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" id="increase" name="choicenum"
                                                value="innum" required checked>เพิ่มจำนวน
                                        </label>
                                    </div>
                                    <div class="col-6">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="choicenum"
                                                value="denum" id="decrease" required>ลดจำนวน
                                        </label>
                                    </div>
                                </div>
                                <div class="col-6 mx-auto" id="annotationedit">
                                    <label for="">เหตุผล : </label>
                                    <textarea class="form-control" id="areacom" rows="5" disabled></textarea>
                                </div>
                                <label for="textinput" class="col-12 control-label">หน่วยนับ</label>
                                <div class="col-12">
                                    <input type="text" class="form-control" id="EditUnit" required>
                                </div>
                                <div class="modal-footer justify-content-center">
                                    <button type="submit" class="btn btn-success rounded-pill"
                                        id="btnSaveEdit">บันทึก</button>
                                    <button type="button" class="btn btn-danger  rounded-pill" data-dismiss="modal"
                                        id="btnCancelEdit">ยกเลิก</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div><br>

            </div>
        </div>
    </div>



    <!--Modal add material-->

    <!-- Modal -->
    <div class="modal fade " id="modeladd" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content ">
                <div class="modal-header" style="background-color: #CFEEFF;">
                    <h5 class="modal-title w-100 text-center">
                        เพิ่มรายการวัสดุใหม่
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 ">
                            <form id="formaddmat" method="POST" enctype="multipart/form-data">
                                <label for="textinput" class="col-12 control-label">หมวดหมู่</label>
                                <div class="col-12">
                                    <select name="category" class="form-control" id="addCategory">
                                        <!-- <option value="1">วัสดุสำนักงาน</option>
                                    <option value="2">วัสดุไฟฟ้าวิทยุ</option>
                                    <option value="3">วัสดุคอมพิวเตอร์</option>
                                    <option value="4">วัสดุโฆษณา</option>
                                    <option value="5">วัสดุงานบ้าน</option>
                                    <option value="6">วัสดุเครื่องแต่งกาย</option>
                                    <option value="7">วัสดุของที่ระทึก</option> -->
                                    </select> <br>
                                </div>
                                <label for="textinput" class="col-12 control-label">รหัสวัสดุ</label>
                                <div class="col-12">
                                    <input type="number" class="form-control" id="addID" placeholder="06582101501"
                                        required>
                                </div>
                                <label for="textinput" class="col-12 control-label">รายการ</label>
                                <div class="col-12">
                                    <input type="text" class="form-control" id="addName" placeholder="กรรไกร" required>
                                </div>
                                <label for="textinput" class="col-12 control-label">จำนวน</label>
                                <div class="col-12">
                                    <input type="number" class="form-control" id="addNum" placeholder="0" required>
                                </div>
                                <label for="textinput" class="col-12 control-label">หน่วยนับ</label>
                                <div class="col-12">
                                    <input type="text" class="form-control" id="addUnit" placeholder="ตัว" required>
                                </div>
                                <div class="modal-footer justify-content-center">
                                    <button type="submit" class="btn btn-success rounded-pill">บันทึก</button>
                                    <button type="button" class="btn btn-danger  rounded-pill" data-dismiss="modal"
                                        id="btnCanceladd">ยกเลิก</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div><br>

            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modalimport" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
        aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Process.......</h5>
                </div>
                <div class="modal-body">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" id="processbar"></div>
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                            aria-valuemin="0" aria-valuemax="100" id="processbar"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>




</body>

</html>