<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>สถิติการเบิก</title>
    <link rel="icon" href="https://itschool.mfu.ac.th/fileadmin/templatesItschool/assets/img/it-logo120x120.png" type="image/x-icon">
    <link rel="stylesheet" href="js/bootstrap.min.css">
    <link rel="stylesheet" href="js/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="js/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="js/sweetalert2.min.css">
    <link rel="stylesheet" href="js/css.css">
    <link rel="stylesheet" href="js/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootbox.min.js"></script>
    <script src="js/jquery.dataTables.min.js"></script>
    <script src="js/dataTables.bootstrap4.min.js"></script>
    <script src="js/dataTables.responsive.min.js"></script>
    <script src="js/responsive.bootstrap4.min.js"></script>
    <script src="js/sweetalert2.all.min.js"></script>
    <script src="js/iconify.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <script src="https://apis.google.com/js/platform.js?onload=init" async defer></script>

    <script src="src/สถิติการเบิก.js"></script>
    <link rel="stylesheet" href="style/สถิติการเบิก.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@200&display=swap" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bgnavbar fixed-top">
        <a class="navbar-brand" href="#"><img src="img/logo.png" width="40px" height="40px">
        </a>
        <h5 class="text-light my-auto brand-text" href="#">ระบบจัดการวัสดุสำนักงาน สำนักวิชาเทคโนโลยีสารสนเทศ</h5>
        <text class="my-auto ml-auto text-light brand-text"><img class="rounded-circle shadow-sm"
                src="<%= user.image %> " alt="" width="35px">
            <!-- <span class="iconify text-light"
                data-icon="bx:bxs-user-circle" data-inline="false" style="color:black" data-width="30px"
                data-height="30px"></span> -->
            <%= user.user_name %>
        </text>
        <button class="navbar-toggler d-xl-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
            aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation" id="sidebarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

    </nav>
    <div class="vertical-nav mt-1" id="sidebar">
        <div class="vertical-menu">
            <ul class="nav flex-column mt-4">
                <div id="text-brand">
                    <li class="text-center">
                        <h5 class="text-light" href="#">ระบบจัดการวัสดุสำนักงาน สำนักวิชาเทคโนโลยีสารสนเทศ</h5>
                    </li>
                    <li class="text-center text-light">
                        <text><img class="rounded-circle shadow-sm" src="<%= user.image %> " alt="" width="35px">
                            <!-- <span class="iconify" data-icon="bx:bxs-user-circle" data-inline="false"
                                style="color:black" data-width="30px" data-height="30px"></span> -->
                            <%= user.user_name %>
                        </text>
                    </li>
                </div>
                <li><a href="#" id="static" class="active">สถิติการเบิก</a></li>
                <li><a href="#" id="perman">สถิติการเบิกรายคน</a></li>
                <li><a href="#" id="material">รายการวัสดุ</a></li>
                <li><a href="#" id="hisvisor">ประวัติการเบิก</a></li>
                <li><a href="#" id="hisedit">ประวัติการจัดการข้อมูลวัสดุ</a></li>
                <li><a href="#" id="logout">ออกจากระบบ <span class="iconify" data-icon="ls:logout"
                            data-inline="false"></span> </a></li>
            </ul>
        </div>

    </div>

    <!--Main-->
    <div class="page-content p-5 mt-5" id="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-11">
                    <h2><span class="iconify" data-inline="false" data-icon="fa-solid:clipboard-list"
                            style="font-size: 28px;"></span>&nbsp;&nbsp;สถิติการเบิก</h2>
                    <hr class="ml-0 col-6" style="background-color: rgba(151, 151, 151, 0.507);">
                </div>

                <!--Carusel-->
                <div class="container-fluid">
                    <div id="carouselId" class="carousel slide shadow" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselId" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselId" data-slide-to="1"></li>

                        </ol>

                        <div class="carousel-inner " role="listbox">
                            <div class="carousel-item active" id="dashboard">
                                <div class="row mt-4 " style="justify-content: center;">
                                    <div class="col-xl-3 col-sm-6 col-md-6 col-l-6 col-s-12">
                                        <div class="card shadow" style="background-color: #70CDFF;">
                                            <div class="card-body">
                                                <h5 class="card-title text-light">ใบเบิกทั้งหมด</h5>
                                                <p class="card-text text-light"><text id="all"></text>
                                                    <span class="iconify" data-icon="ant-design:file-text-outlined"
                                                        id="iconsta"></span>
                                                </p>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-sm-6 col-md-6 col-l-6 col-s-12">
                                        <div class="card shadow" style="background-color: #1FE90C">
                                            <div class="card-body">
                                                <h5 class="card-title text-light"><strong>ใบเบิกที่อนุมัติ</strong></h5>
                                                <p class="card-text text-light" ><text id="check"><strong></strong></text>
                                                    <span class="iconify " data-icon="ant-design:file-done-outlined"
                                                        id="iconsta"></span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-3 " style="justify-content: center;">
                                    <div class="col-xl-3 col-sm-6 col-md-6 col-l-6 col-s-12">
                                        <div class="card shadow" style="background-color: #FC4A50">
                                            <div class="card-body ">
                                                <h5 class="card-title text-light">ใบเบิกที่ไม่อนุมัติ</h5>
                                                <p class="card-text text-light" ><text id="noncheck"></text>
                                                    <span class="iconify " data-icon="bi:file-earmark-x"
                                                        id="iconsta"></span>
                                                </p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="card col-md-12 " id="bar">
                                    <div class="card-body">
                                        <div class="container">
                                            <canvas id="chBar" height="83px" width="230px"></canvas>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselId" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselId" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>

                <!--Dropdown-->
                <SELECT NAME="เดือน" id="select" class="form-control my-3 col-5 col-md-6 col-lg-2">
                    <option value="0">ทั้งหมด</option>
                    <option value="1">วัสดุสำนักงาน</option>
                    <option value="2 ">ไฟฟ้า </option>
                    <option value="3 ">คอมพิวเตอร์ </option>
                    <option value="4 ">โฆษณา </option>
                    <option value="5">งานบ้าน</option>
                    <option value="6 ">เครื่องแต่งกาย </option>
                    <option value="7">ของที่ระลึก</option>
                </SELECT>
            </div>


            <!--Datatable-->
            <table id="materialTable" class="table table-bordered table-hover" style="width:100%"></table>
        </div>
    </div>
</body>

</html>