<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>History Success</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.6/css/responsive.bootstrap4.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Pridi&display=swap" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.6/js/dataTables.responsive.min.js"></script>

    <link rel="stylesheet" href="../public/style/adminmain.css">
</head>
<script>
    $(document).ready(function () {
        var rowID;
        var material = [{
            "number": "1",
            "id": "101000246",
            "list": "ซองจดหมายขาว ขนาด DL",
            "numreq": "10",
            "unit": "ด้าม",
            "balance": "5",
            "amount": "7"
        }, {
            "number": "2",
            "id": "101000249",
            "list": "ปากกาไวท์บอร์ด สีแดง",
            "numreq": "10",
            "unit": "ด้าม",
            "balance": "5",
            "amount": "2"
        }, {
            "number": "3",
            "id": "101000255",
            "list": "ลวดเสียบกระดาษ (Paper Clip)",
            "numreq": "10",
            "unit": "ด้าม",
            "balance": "5",
            "amount": "6"
        }, {
            "number": "4",
            "id": "101000359",
            "list": "ไม้บรรทัดเหล็ก 1 ฟุต",
            "numreq": "10",
            "unit": "ด้าม",
            "balance": "5",
            "amount": "4"
        }, {
            "number": "5",
            "id": "101000675",
            "list": "ตรายาง - วันที่ตัวเลข",
            "numreq": "10",
            "unit": "ด้าม",
            "balance": "5",
            "amount": "3"
        }];
        var table = $("#materialTable").DataTable({
            responsive: true,       //for responsive column display
            deferRender: true,      //if large data, use this option

            data: material,
            columns: [
                { data: "number", title: "ลำดับ" },
                { data: "id", title: "รหัสวัสดุ" },
                { data: "list", title: "รายการ" },
                { data: "numreq", title: "จำนวนเบิก" },
                { data: "unit", title: "หน่วยนับ" },
                { data: "balance", title: "จำนวนคงเหลือ" },
                { data: "amount", title: "จำนวนจ่าย" }
            ],
            columnDefs: [
                // make the last column align right, also target: "_all"
                { "className": "dt-center", "targets": 5 }
            ]
        });

        // Sidebar toggle behavior
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar, #content').toggleClass('active');
        });

        $("#success").click(function () {
            //alert("test");
            Swal.fire({
                    title: 'แน่ใจใช่หรือไม่?',
                    text: "ท่านแน่ใจใช่หรือไม่ว่ามีคนมารับของเรียบร้อยแล้ว",
                    icon: 'warning',
                    confirmButtonText: 'ยืนยัน',
                    cancelButtonText: 'ยกเลิก',
                    showCancelButton: true,
                    confirmButtonColor: '#6FD83D',
                    cancelButtonColor: '#FF4B4B',

                }).then((result) => {
                if (result.isConfirmed) {
                    location.replace("adminmain.html");                   
                }
            })
        });
    });

</script>

<body>
    <!--Topbar-->
    <nav class="navbar navbar-expand-sm navbar-dark fixed-top" style="background-color: #2E5E96;">
        <a class="navbar-brand col-12 col-s-6" href="#"><img src="../public/img/logo.png" alt=""
                style="width: 40px; height: 40px;"><span>ระบบจัดการวัสดุสำนักงาน
                สำนักวิชาเทคโนโลยีสารสนเทศ</span>
                <text class="float-right"><span class="iconify" data-icon="bx:bxs-user-circle" data-inline="false" style="color: #ffff;" data-width="30px" data-height="30px"></span>
                    นางสาวแอดมิน สมหญิง</text> </a>
        <button id="sidebarCollapse" type="button" class="navbar-toggler btn btn-link border-0"
            aria-label="Toggle navigation">
            <!-- <i class="fas fa-bars mr-2"></i> -->
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    <!--SIDE bAR-->
    <div class="vertical-nav bg-white" id="sidebar">
        <div class="vertical-menu">
            <ul class="nav flex-column bg-white mt-4">
                <li><a href="../view/adminmain.html" >คำขอเบิกวัสดุ</a></li>
                <li><a href="#">รายการวัสดุ</a></li>
                <li><a href="#">สถิติการเบิก</a></li>
                <li><a href="../view/history.html" class="active">ประวัติการเบิก</a></li>

            </ul>
        </div>
        <a href="../view/Login.html" class="nav-link text-dark  mt-5">ออกจากระบบ <span class="iconify" data-icon="ls:logout"
                data-inline="false"></span> </a>
    </div>

    <!--Main-->

    <div class="page-content p-5 mt-5" id="content">
        <div class="container-fluid">
            <div class="row">
                <div class="float-left">
                    <a href="../view/history.html">
                        <span class="iconify" data-icon="eva:arrow-back-outline" data-inline="false" data-width="50px"
                            data-height="50px"></span>
                    </a>
                    <form id='formid' action="upload" method="POST" enctype="multipart/form-data">
                    </form>
                </div>
                <div class="col-11">
                    <h2>รายละเอียดเพิ่มเติม</h2>
                    <hr width="1200px" size="2" class="ml-0">
                </div>
            </div>
            <!--Detail text-->
            <div id="detail">
                <div class="float-left">
                    <p>เลขที่เบิกวัสดุ : 6405001</p>
                    <p>ชื่อผู้เบิก : นายบันเทิง สุดสุด</p>
                    <p>วันที่ : 17/05/2564 เวลา : 15:30 น</p>
                </div>
                <div class="status">
                    <p>สถานะ : <text style="color: #00C337;">เสร็จสมบูรณ์</text></p>
                    <p>หมายเหตุ : ต้องการของทุกอย่างที่เบิกด่วนที่สุด</p>
                    <p>รับของ : วันที่ 17/05/2564 เวลา 16:00 น.</p>
                </div>
            </div>
            <br>
            <table id="materialTable" class="table table-striped table-bordered" style="width:100%">
            </table>
        </div>
    </div>


</body>

</html>