<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mange User</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/style/superadmin.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
    <script src="../public/src/superadmin.js"></script>
    <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>

</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-dark bgnavbar">
        <a class="navbar-brand" href="#" id="text-brand"></a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
            aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <h5 class="text-light" href="#">ระบบจัดการวัสดุสำนักงาน สำนักวิชาเทคโนโลยีสารสนเทศ</h5>
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">ออกจากระบบ <span class="iconify" data-inline="false"
                            data-icon="fe:logout"></span></a>
                </li>
            </ul>
        </div>
    </nav>

    <head>
        <div class="container-fluid">
            <div class="col-12 d-flex mt-3">
                <div class="col-3">
                    <h5 class="display-5 pb-1">จัดการสมาชิก</h5>
                </div>
                <div class="d-flex ml-auto">
                    <input class="form-control col-7" type="text" id="myInput" onkeyup="myFunction()"
                        placeholder="ค้นหา">
                    <div class="text-center col-5">
                        <span class="iconify" data-inline="false" data-icon="eva:person-add-fill"
                            style="font-size: 24px; color: #FF7A00;"></span>
                        <p>เพิ่มสมาชิก</p>
                    </div>
                </div>

            </div>

        </div>
    </head>

    <div class="container-fluid">


        <div class="row col-12 d-flex justify-content-center" id="card-area">


            <!-- อย่าลืมเด็ดขาด เก็บไว้เพื่อซ่อมหรือแก้ไขตัวการ์ด -->
            <!-- <div class="col-xl-3 col-lg-5 col-md-6 col-sm-7" style="height: 400px;">
                <div class="card-container manual-flip" >
                    <div class="card" style="border: none;">
                        <div class="front text-center">
                            <img class="card-img-top" src="https://api.iconify.design/ion:person-circle.svg" alt=""
                                style="width: 50%;">
                            <div class="card-body">
                                <h5 class="">นางสาว สมหญิง มากมาก</h5>
                                <h5 class="">ตำแหน่ง : อาจารย์ชำนาญการพิเศษ</h5>
                                <h5 class="mb-3">เมลล์ : somying.mak@mfu.ac.th</h5>
                                <button class='btn btn-primary col-5 mb-3' onclick='rotateCard(this)'>จัดการ</button>
                            </div>
                        </div>

                        <div class='back text-center'>
                            <div class='content'>
                                <div class='main'>
                                    <h5 class='text-center mx-3 mt-5 pt-2'>นางสาว สมหญิง มากมาก</h5>
                                    <div class='col-12 text-center my-5'>
                                        <button class='btn btn-success'>เปิดสิทธิ์</button>
                                    </div>
                                    <div class='col-12 text-center my-5'>
                                        <button class='btn btn-warning'>ระงับสิทธิ์</button>
                                    </div>
                                    <div class='col-12 text-center mb-5'>
                                        <button class='btn btn-danger'>ลบ</button>
                                    </div>
                                    <button class='btn btn-simple' rel='tooltip' title='Flip Card'
                                        onclick='rotateCard(this)' id='hidebtn'><span class="iconify"
                                            data-inline='false' data-icon='ri:arrow-go-back-line'></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</body>

</html>